body {
    font-family: Helvetica, sans-serif;
    background-color:  rgb(255, 240, 233);
}

.header {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.add-book {
    margin: 10px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: rgb(106, 106, 214);
    border-radius: 4px;
}

.input {
    width: 200px;
}

.library-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.card-title {
    padding: 10px;
}

.card-author {
    padding: 10px;
}

.card-pages {
    padding: 10px;
}

.card-read-status {
    padding: 10px;
}

.remove-button {
    padding: 10px;
    margin: 10px;
}

.book-card{
    padding: 10px;
    border: solid;
    margin: 50px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}