body {
    font-family: Helvetica, sans-serif
}

.header {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.add-book {
    margin: 10px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: rgb(161, 161, 252);
}

.entry-form {
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.title {
    border: solid;
    
}
.library-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.card-title {
    border: solid 2px red;
    padding: 10px;
}

.card-author {
    border: solid 2px red;
    padding: 10px;
}

.card-pages {
    border: solid 2px red;
    padding: 10px;
}

.card-read-status {
    border: solid 2px red;
    padding: 10px;
}

.remove-button {
    padding: 10px;
    margin: 10px;
}

.book-card{
    padding: 10px;
    border: solid;
    margin: 50px;
}